@import url("https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong");
html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
    to bottom right,
    rgb(0, 0, 0) 2%,
    rgb(255, 0, 0) 5%,
    rgb(255, 255, 255) 15%,
    rgb(255, 217, 0) 80%,
    rgb(255, 0, 0) 90%,
    rgb(0, 0, 0) 98%
  );
}

.text-heading {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  font-family: cursive;
}

.para {
  font-size: 18px;
  font-family: "Audiowide", sans-serif;
}

.para:hover {
  cursor: pointer;
  background-color: blue;
  border: 2px solid black;
  border-radius: 2px;
}

::placeholder {
  font-family: "Audiowide", sans-serif;
  font-size: smaller;
}

#alert{
  margin: auto;
  height: 75px;
}

.Card-component {
  display: flex;
  justify-content: center;
}

/* Custom styles for better mobile experience */
.Card {
  width: 1000px;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border: 5px solid rgba(128, 0, 128, 0.781);
  overflow-y: auto; /* Enable vertical scrollbar when content overflows */
  max-height: calc(100vh - 300px); /* Adjust max-height as needed */
  border: 1px solid #ccc; /* Optional: Add border for clarity */
  border-radius: 10px; /* Optional: Add border radius for aesthetics */
}

.card-body {
  padding: 15px; /* Optional: Adjust padding for better spacing */
}

.Qoutes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-mark {
  font-size: 24px;
}

.quote-text {
  font-size: 40px;
  margin: 0 10px;
}

/* Animation for main container */
.Card-component  {
  animation: fadeInUp 1s ease-out;
}

/* Animation for nav items */
.text-heading,
.para{
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
}

/* Animation for search bar */
.Search-bar {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
}

.Search-btn{
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
}

/* Animation for info containers */
.CityName,
.Temperature-container,
.Date,
.info-box {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
}

/* Delay each animation */
.text-heading {
  animation-delay: 0.2s;
}

.para {
  animation-delay: 0.5s;
}

.Search-bar {
  animation-delay: 0.8s;
}

.Search-btn {
  animation-delay: 1.2s;
}

/* Keyframes for fadeInUp animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}