@import url("https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong");

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
    to bottom right,
    #ad36cb 2%,
    #ff00ff 15%,
    white 32.23%,
    #ffd900 67.37%,
    #ff00ff 80%,
    #ad36cb 90%,
    #000000 98%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
              0px 4px 4px 0px rgba(255, 250, 250, 0.25),
              0px 4px 4px 0px rgba(253, 245, 245, 0.25);
}

.text-heading {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  font-family: cursive;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 0.2s;
}

.para {
  font-size: 18px;
  font-family: "Audiowide", sans-serif;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 0.4s;
}

.para:hover {
  cursor: pointer;
  background-color: blue;
  border: 2px solid black;
  border-radius: 2px;
}

::placeholder {
  font-family: "Audiowide", sans-serif;
  font-size: smaller;
}

#alert {
  margin: auto;
  height: 75px;
}

.Card-component {
  display: flex;
  justify-content: center;
  animation: fadeInUp 1s ease-out;
}

.Card {
  width: 1000px;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border: 5px solid rgba(128, 0, 128, 0.781);
  overflow-y: auto;
  max-height: calc(100vh - 300px);
  border: 1px solid #ccc;
  border-radius: 10px;
}

.card-body {
  padding: 15px;
}

.Facts-text {
  font-size: 30px;
  margin: 0 10px;
  overflow: hidden;
  white-space: normal;
  border-right: 4px solid;
  animation: typing 2s steps(40, end), blink-caret 1s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .Card-component {
    margin-top: 10px;
  }

  .Card {
    width: 90%;
    max-height: calc(100vh - 150px);
  }

  .Facts-text {
    font-size: 20px;
  }
}


